{{> navs/index}}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h1>{{this.title}}</h1>
            <h3>{{this.subtitle}}</h3>
        </div>
    </div>
</div>

<div id="articles">
    {{#each articles}}
        <div class="well">
            <div class="row">
                <div class="col col-md-8">
                    <h4><a href="{{this.link}}">{{this.title}}</a></h4>
                </div>
                <div class="col col-md-2">
                    <form class="form-inline" action="/api/articles/save/{{this.id}}" method="POST">
                        <button type="submit" class="btn btn-success">Save Article</button>
                    </form>
                </div>
                <div class="col col-md-2">
                    <form class="form-inline" action="/api/articles/dismiss/{{this.id}}?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-warning">Remove Article</button>
                    </form>
                </div>
            </div>
        </div>
    {{/each}}
</div>